@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-image: linear-gradient(45deg, #4FB7B3, #31326F);
    height: 100vh;
}
.parent{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.logo{
    text-align: center;
}
i{
    font-size: 10rem;
    margin: 0px 35px;
}
button{
    padding: 15px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #4FB7B3;
    margin: 0px 60px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.android{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.IOS{
    display: flex;
    flex-direction: column;
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
}
@media screen and (min-width: 720px){
   img{
    width: 30%;
   }
}
